/* Reset some default browser styles */
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #fbfbfb; /* Soft pastel yellow background */
  color: #543d3f; /* Muted brown text color */
  line-height: 1.6;
  text-align: justify;
}

header {
  text-align: center;
  padding: 20px;
  background: url('background-image.jpg') no-repeat center center;
  background-size:auto;
  background-attachment:local;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

header img {
  width: 10%;
  height: 15%;
  border: 4px solid #fff;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 28px;
  margin-top: 10px;
  color: #543d3f; /* Muted brown text color */
}

.details h1, .details h3 {
  color: #f7b3a2;
}
nav ul {
  list-style: none;
  text-align: center;
  margin-top: 20px;
}

nav li {
  display: block;
  margin: 50px 0px;
}

nav a {
  text-decoration: none;
  color: #543d3f; /* Muted brown text color */
  font-size: 24px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
}

nav a:hover {
  border-bottom: 2px solid #ff8e72; /* Soft pink on hover */
}

section {
  margin: 40px;
  padding: 40px;
  background-color: #ffeadbdc; /* Light peach background */
  border-radius: 70px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #543d3f; /* Muted brown text color */
}

button {
  background-color: #ff8e72; /* Soft pink button */
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 200px;
  cursor: pointer;
  font-size: 30px;
  transition: background-color 0.3s;
  margin: 0 40px;
  position: relative;
  /* margin-left: 40%; */
}

button:hover {
  background-color: #fd563d; /* Slightly darker pink on hover */
}

.experience-item h3 {
  cursor: pointer;
  color: #ff8e72; /* Soft pink */
}

.experience-item h3:hover {
  color: #fd563d; /* Slightly darker pink on hover */
}

.experience-item p {
  display: none;
  color: #543d3f; /* Muted brown text color */
}

.experience-item.open p {
  display: block;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #fcefe5; /* Soft pastel yellow background */
  font-size: 14px;
  color: #543d3f; /* Muted brown text color */
}

header h1 {
  font-size: 36px;
  margin-top: 10px;
  color: #f7b3a2; /* Muted brown text color */

}

.role-container {
  display: inline-block;
  margin-top: 10px;
  color: #f7b3a2; /* Muted brown text color */
  font-size: 32px;
}